{{ partial "default_head.html" . }}

<div class="row">
    <div class="col-md-8">
        <article class="post" itemscope itemType="http://schema.org/BlogPosting">

            <header>
                <div class="post-date">
                    <span class="glyphicon glyphicon-calendar"></span>
                    <time itemprop="datePublished" datetime="{{ .Date.Format $.Site.Params.ISO8601 }}">
                        {{ .Date.Format .Site.Params.DateForm }}
                    </time>
                    {{ if isset .Params "modified" }}
                    <time itemprop="dateModified" datetime="{{ .Lastmod.Format $.Site.Params.ISO8601 }}">
                        Last Updated: {{ .Lastmod.Format .Site.Params.DateForm }}
                    </time>
                    {{ end }}
                </div>
                <h1 class="post-title" itemprop="headline">
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                </h1>
                <span >
                  {{ if isset .Params "image" }}<img itemprop="image" alt="{{ .Title }}" src="{{ .Site.BaseURL }}{{ .Params.image | urlize }}" /><br />{{ end }}
                  <span itemprop="author">Scott Tactical</span><br />
                  <a itemprop="mainEntityOfPage" href="#"><span itemprop="name">{{ .Title }}</span></a><br />
                  <span itemprop="publisher">Scott Tactical</span><br />
                </span>
            </header>

            <div class="post-content" itemprop="articleBody">
              <hr />
                {{ .Content }}
            </div>

            <aside>
                {{ $baseurl := .Site.BaseURL }}
                <ul class="list-inline post-tags">
                    {{ range .Params.tags }}
                    <li>
                        <a href="{{ $baseurl }}/tags/{{ . | urlize }}" rel="tag">
                            <i class="fa fa-tags"></i>
                            <span itemprop="keywords">{{ . }}</span>
                        </a>
                    </li>
                    {{ end }}
                </ul>

                {{ if .Site.Params.ShowRelatedPost }}
                <!-- Related post. -->
                <h3>Related Post</h3>
                <ul class="post-rels">
                    {{ $page_link := .Permalink }}
                    {{ $tags := .Params.tags }}
                    {{ range .Site.Pages }}
                    {{ $page := . }}
                    {{ $has_common_tags := intersect $tags .Params.tags | len | lt 0 }}
                    {{ if and $has_common_tags (ne $page_link $page.Permalink) }}
                    <li><a href="{{ $page.Permalink }}">{{ $page.Title }}</a></li>
                    {{ end }}
                    {{ end }}
                </ul>
            </aside>
            {{ end }}
            <!-- Pagination. -->
            {{ template "_internal/disqus.html" . }}
            {{ if isset .Site.Params "Disqus" }}
            {{ if .Params.comments }}
            <!-- disqus. -->
            {{ end }}
            {{ end }}
            <footer>

                <nav>
                    <ul class="pager">

                        {{ if .Prev }}
                        <li class="previous"><a href="{{ .Prev.Permalink }}"><span aria-hidden="true">&larr;</span> Older</a></li>
                        {{ else }}
                        <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
                        {{ end }}

                        <li><a href="{{ .Site.BaseURL }}/post">All Posts</a></li>

                        {{ if .Next }}
                        <li class="next"><a href="{{ .Next.Permalink }}">Newer <span aria-hidden="true">&rarr;</span></a></li>
                        {{ else }}
                        <li class="next disabled"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
                        {{ end }}

                    </ul>
                </nav>
            </footer>

        </article>
    </div>
    <div class="col-md-4">
        {{ partial "sidebar.html" . }}
    </div>
</div>
