<div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">

  {{ $imgUrlBase := .Site.Params.GalleryBaseUrl }}
  {{ $galleryPath := .Params.gallerypath | default "" }}
  {{ $images := .Params.galleryimages | default slice }}
  {{ range $img := $images }}
  <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="{{ $imgUrlBase }}{{ $galleryPath }}{{ $img }}" itemprop="contentUrl">
      <img src="{{ $imgUrlBase }}{{ $galleryPath }}thumbs/{{ $img }}" itemprop="thumbnail" alt="{{ $img }}"
           title="{{ $img }}" loading="lazy" />
    </a>
    <figcaption itemprop="caption description">{{ $img }}</figcaption>
  </figure>
  {{ end }}

</div>
