<style type="text/css">
.my-gallery {
  width: 100%;
  float: left;
}
.my-gallery img {
  width: 100%;
  height: auto;
}
.my-gallery figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 150px;
}
.my-gallery figcaption {
  display: none;
}
.my-gallery div, span {
  display: none;
}
</style>


<div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">

	{{ $imgUrlBase := print .Site.Params.GalleryBaseUrl .Params.gallerypath }}
	{{ range $img := .Params.galleryimages }}
  <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">

		{{ $jsonData := getJSON $imgUrlBase $img ".json" }}
        <a href="{{ $imgUrlBase }}{{ $img }}" itemprop="contentUrl" data-size="{{ $jsonData.Composite.ImageSize }}">
        	<img src="{{ $imgUrlBase }}thumbs/{{ $img }}" itemprop="thumbnail" alt="{{ $jsonData.IPTC.City }}, {{ $jsonData.IPTC.State }}" title="{{ $jsonData.IPTC.Province }}" />
        </a>

        <figcaption itemprop="caption description">{{ $jsonData.IPTC.Caption }}</figcaption>
          <span itemprop="author">{{ $jsonData.IFD0.Artist }}</span>
          <span itemprop="copyrightHolder creator">{{ $jsonData.IFD0.Copyright }}</span>
          <span itemprop="contentLocation">{{ $jsonData.IPTC.City }}, {{ $jsonData.IPTC.State }}</span>
          <span itemprop="keywords">{{ if isset $jsonData.IPTC "Keywords" }}{{ delimit $jsonData.IPTC.Keywords ", " }}{{ end }}</span>
          <meta itemprop="datePublished" content="{{ $.Date.Format $.Site.Params.DateForm }}">
          <span itemprop="dateCreated">{{ replace $jsonData.IPTC.DateCreated ":" "-" }}</span>
            <span></span>
        <!-- exif -->
        {{ range $exifKey, $exifVal := $jsonData.ExifIFD }}
        <div itemprop="exifData" itemscope itemtype="http://schema.org/PropertyValue">
          <meta itemprop="name" content="{{ $exifKey }}">
          <meta itemprop="value" content="{{ $exifVal }}">
        </div>
        {{ end }}
        <!-- /exif -->
        
        <!-- location -->
        <div itemscope itemtype="http://schema.org/Place">
          <span itemprop="name">Yosemite Valley, CA</span>
          <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
            Latitude: {{ $jsonData.Composite.GPSLatitude }} 
            Longitude: {{ $jsonData.Composite.GPSLongitude }}
            <meta itemprop="latitude" content="{{ $jsonData.Composite.Latitude }}" />
            <meta itemprop="longitude" content="{{ $jsonData.Composite.Longitude }}" />
          </div>
        </div>
        <!-- /location -->

  </figure>
  {{ end }}
  
</div>
