{{ define "title" }}{{ .Title }} - {{ end }}

{{ define "meta" }}
{{ partial "single_meta.html" . }}
{{ end }}

{{ define "main" }}
<div class="layout">
  <div class="layout-main">
    <article class="gallery">
      <header>
        <ul class="facts">
          <li><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time></li>
        </ul>
        <h1 class="title">{{ .Title }}</h1>
      </header>

      <div class="article-body">
        {{ .Content }}
      </div>

      {{ partial "gallery/schema" . }}
    </article>
  </div>
  <div class="layout-side">
    {{ partial "sidebar.html" . }}
  </div>
</div>
{{ end }}
